[snowflake]
# Required
account = "xy12345.eu-central-1"
user = "your_user"
password = "your_password"
warehouse = "COMPUTE_WH"
database = "CONTACTS_DB"
schema = "PUBLIC"
# Optional
role = "SYSADMIN"

[app]
# Optional overrides for your schema
contact_table = "CONTACTS"
id_column = "ID"
first_name_column = "FIRST_NAME"
last_name_column = "LAST_NAME"
email_column = "EMAIL"
phone_column = "PHONE"
address1_column = "ADDRESS_LINE1"
address2_column = "ADDRESS_LINE2"
city_column = "CITY"
state_column = "STATE"
postal_code_column = "POSTAL_CODE"
country_column = "COUNTRY"
max_results = 200